main {
  .section--Usuarios {
    font-size: 10px;
    margin-top: 30px;

    @media (min-width: 425px) and (max-width: 768px) {
      font-size: 13px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 20px;
    }

    table {
      border: 2px #000000 solid;
      border-radius: 10px;
      margin: auto;
      width: 95%;
      background-color: grey;
      text-align: center;

      @media (min-width: 425px) and (max-width: 768px) {
        width: 90%;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        width: 80%;
      }

      tr:nth-of-type(1) {
        font-size: 20px;
        @media (min-width: 425px) and (max-width: 768px) {
          font-size: 25px;
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          font-size: 30px;
        }
      }
      tr:nth-of-type(2) {
        font-size: 15px;
        @media (min-width: 425px) and (max-width: 768px) {
          font-size: 20px;
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          font-size: 25px;
        }
      }
      tr {
        td {
          .contenedor-icon {
            margin: 4px;
            i:nth-of-type(2) {
              display: none;
            }

            display: inline;
            i {
              color: #ffffff;

              &:hover {
                color: #00ff55;
              }
            }
          }

          .contenedor-icon:nth-of-type(2) {
            margin: 4px;

            display: inline;
            i {
              color: #ffffff;

              &:hover {
                color: #ff0000;
              }
            }
          }

          input {
            &:enabled {
              background-color: rgb(255, 255, 255);
            }

            &:disabled {
              background-color: rgb(0, 0, 0);
            }
            text-align: center;

            display: block;
            width: 95%;
            padding: 0px 0px;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;

            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            -webkit-transition: border-color 0.15s ease-in-out,
              -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
              -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          }
        }
      }
    }
  }

  .main__section-Mensaje {
    h1 {
      text-align: center;
      color: #ffffff;
    }
  }
}
