main{

.main--submenu{

    .section--subnav{

        .subnav--ul{
            color: #ffffff;
            width: 100%;
            height: 40px;
            background-color: brown;
          padding-top: 20px;
            text-align: center;
         


li{

    margin: 0px 10px;
    display: inline;
    a{
        
    }
}

        }
    }
}

}