
@media  (min-width:769px ) and  (max-width:1024px ){
    header {
        background-color: #6b0504;
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
      
        .header--logo {
          margin: 7px 0px 0px 6px;
          a {
            .header__a--img {
              width: 36px;
              height: 36px;
            }
          }
        }
      
        .header--menu {
          padding-top: 17px;
          text-align: center;
      
          transition: 1s;
          &:hover .header--nav {
            right: 20%;
          }
          span {
            color: #ffffff;
          }
          .header--nav {
            transition: 1s;
            background-color: #343a40;
            width: 80%;
            right: 100%;
            top: 50px;
            position: absolute;
            .nav--ul {
              padding-left: 10px;
              margin: 0px 40px 0px 0px;
              text-align: left;
              background-color: #a3320b;
              .nav__ul--li {
                padding: 10px 0px;
                list-style: none;
                a {
                  color: #000000;
                  text-decoration: none;
      
                  &:hover .nav__ul--li {
                    background-color: #ffc9b7;
                  }
                }
              }
            }
          }
        }
      
        .header--loguin {
          margin: 5px 9px 0px 10px;
          width: 36px;
          height: 43px;
      
          &:hover .header--ventanaLoguin {
            visibility: initial;
          }
      
          .header--img {
            width: 36px;
            height: 36px;
            border-radius: 50px;
          }
      
          .header--ventanaLoguin {
            visibility: hidden;
            height: 40px;
            width: 68px;
            position: relative;
            top: 3px;
            right: 30px;
      
            a {
              color: #000000;
              padding: 3px 0px;
              float: right;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }


}




