* {
  padding: 0px;
  margin: 0px;
}

main {
  height: 670px;
  background-color: #130201;
}

@import "administrarempleado";
@import "gestionarea";
@import "header";
@import "loguin";
@import "registaremple";
@import "nav";
@import "footer";
@import "gestionusuario";
@import "gestioncargos";
