.ampliar {
  height: 235px;
}

main {
  .main--submenu {
    .contenedor {
      height: 40px;

      background-color: #880906;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .contenedor-icono {
        width: calc(8.3% * 1);
        text-align: center;
        padding-top: 14px;
        cursor: pointer;
        .fas {
          color: #ffffff;
          &:hover {
            color: #000000;
          }
        }
      }

      .contenedor-submenu {
        text-align: center;
        margin-top: 10px;
        width: calc(8.3% * 10);
        .nombre_usuario {
          color: #ffffff;
        }
        .section--subnav {
        /*   width: 100%;
          margin-top: 13px; */

          width: 100%;
          background-color: #880906;
          top: 78px;
          left: 0px;
          margin-top: 13px;
          position: absolute;

          .subnav--ul {
            visibility: hidden;
            list-style: none;
            height: 0px;
            text-align: center;

            display: block;

            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;

            .ul--li {
              margin: auto;
              padding: 10px;
              width: 70%;
              border-radius: 50px;

              &:hover {
                width: 50%;
               padding: 10px;
                background-color: rgb(226, 105, 105);
                transition: 1s;
              }
              .ul__li--a {
                text-decoration: none;
                color: #ffffff;
              }
            }
          }
        }
      }

      .contenedor-margin {
        width: calc(8.3% * 1);
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1440px) {

  .ampliar {
    height: initial;
  }



  main {
    .main--submenu {
      .contenedor {
       // background-color: brown;

        .contenedor-icono {
          display: none;
        }

        .contenedor-submenu {
          transition: 1s;
          width: 100%;
          height: 30px;

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .nombre_usuario {
            width: calc(8.3% * 3);
            color: #ffffff;
            transition: 1s;
          }
          .section--subnav {
            position:initial;
            width: calc(8.3% * 9);
            margin-top: 0px;

            .subnav--ul {
              visibility: initial;
              list-style: none;
              text-align: center;
              transition: 1s;
              .ul--li {
                visibility: initial;
                transition: 1s;
                display: inline;
                margin: 0% 1%;
                padding: 1px;
                .ul__li--a {
                  text-decoration: none;

                  color: #ffffff;
                }
              }
            }
          }
        }

        .contenedor-margin {
          display: none;
        }
      }
    }
  }
}
